* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  overflow: hidden;
  font-size: 20px;
  font-family: Nunito, sans-serif;
  box-sizing: border-box;
  background-color: var(--primary-color);
}
nav.navigations {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: var(--Grey);
  align-items: center;
  height: 2em;
  -webkit-app-region: drag;
}
.logo {
  flex-basis: 55%;
  text-align: right;
  color: var(--secondary-color);
}
.bar {
  display: flex;
  margin-right: 0.5em;
  -webkit-app-region: no-drag;
}
.icon:hover svg {
  fill: var(--secondary-color);
}
.bar > .icon {
  padding: 0 0.4em;
}

.bottom__footer {
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.35em;
  padding-right: 1.35em;
}

.clock__area {
  margin: 3.2em 0em 2.2em 1.1em;
}
.clock__area-text {
  color: var(--offwhite);
}
.clock__inner {
  display: flex;
  flex-direction: row;
  margin: 2em 0 1em;
  position: relative;
}
.clock__btntext {
  color: var(--offwhite-light);
  font-weight: 200;
  cursor: pointer;
}
.clock__btntext:hover {
  color: var(--secondary-color);
}
.clock__shape {
  width: 4.35em;
  height: 4.35em;
  background-color: var(--offwhite);
  margin: 0 0.4em 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock__text {
  font-size: 2em;
  font-weight: 700;
  color: var(--primary-color);
}
.clock__minutes {
  border-radius: 0.5em 0 0 0.5em;
}
.clock__seconds {
  border-radius: 0 0.5em 0.5em 0;
}
.clock__btn {
  width: 2em;
  height: 2em;
  background-color: var(--secondary-color);
  border-radius: 100%;
  position: absolute;
  border: solid var(--primary-color);
  top: 3.4em;
  left: 3.6em;
}

.hidden {
  display: none;
}
.clock__btn:hover > svg {
  fill: var(--primary-color);
}

.setting {
  position: absolute;
  top: 2em;
  width: 22.5em;
  height: 15em;
  background-color: var(--primary-color);
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-about {
  color: var(--offwhite-light);
  transform: translate(100%, 0);
  overflow: hidden;
}
.info-about__link {
  color: var(--offwhite-light);
  text-decoration: none;
  font-size: 0.9em;
  font-weight: 200;
  cursor: pointer;
}
.info-about__link:hover {
  text-decoration: underline;
}
.info-figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}
.info-text {
  margin-top: 4em;
  font-size: 0.9em;
}
.timer-setting__area {
  justify-content: space-around;
  transform: translate(-100%, 0);
}
.--slide_left {
  transform: translate(0, 0);
}
.--slide_right {
  transform: translate(0, 0) !important;
}
.--iconactive > svg {
  fill: var(--secondary-color);
}
.timer-setting__box {
  background-color: var(--primary-color-light);
  border-radius: 5px;
  width: 90%;
  padding: 0.5em;
}
.timer-setting__titlesbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--offwhite);
}
span.range-slider__value {
  font-size: 0.7em;
  align-self: center;
  border-radius: 2px;
  padding: 1px 5px;
  background-color: var(--primary-color);
}

/*rangeslider style*/
.range-slider__range {
  -webkit-appearance: none;
  width: 100%;
  background: var(--offwhite);
  height: 0.5em;
  border-radius: 0.5em;
  outline: none;
  padding: 0;
  margin: 0;
}
.range-slider__range:focus {
  outline: none;
}

.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.5em;
  width: 1.5em;
  background: var(--secondary-color);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0 var(--secondary-color);
  transition: box-shadow 0.15s ease;
}
.range-slider__range::-webkit-slider-thumb:hover {
  box-shadow: 0 0 1em var(--secondary-color);
}

.mgr-2 {
  margin-right: 2em;
}
.btn__group {
  display: flex;
  justify-content: flex-end;
  /* align-content: flex-end; */
  width: 100%;
}

.btn {
  padding: 0.5em 2em;
  background: none;
  font-size: 0.8em;
  margin: 0 0.5em;
  outline: none;
  font-family: Nunito, sans-serif;
}
.btn__noround {
  border: none;
  color: var(--offwhite);
  padding: 0;
  font-weight: 200;
}
.btn__rounded {
  border-radius: 2em;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}
.btn__rounded:hover {
  background-color: var(--secondary-color);
  color: var(--offwhite);
  cursor: pointer;
}
.btn__noround:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

.anime__breadth {
  animation: breadth alternate infinite ease-in-out 4s;
}
.text_center {
  text-align: center;
}
@keyframes breadth {
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
